<div class="heading">
  <div class="heading_text_background">
  </div>
  <h1>Tyler and Ciprianna are Getting Married!</h1>
  <img src="vegas_pic.jpg" alt="Tyler and Ciprianna in Vegas" title="Tyler and Ciprianna in Vegas" id="vegas">
  <img src="finished_balloons.png" alt="Balloons" title="Balloons" id="balloons">
  <img src="old_nebraska_map.jpg" alt="The Old Market Passageway, Omaha" title="Passageway" id="old_map">
</div>

<div class="between_sections">
  <hr class="dark_gray">
  <hr class="light_gray">
</div>

<div class="blue">
  <div class="lantern_fill">

  </div>
  <h2 class="blue_h2">
    June 10th, 2016
  </h2>
  <h3 class="blue_h3"><a href="http://www.countrypineslincoln.com/" class="blue_link">Country Pines</a></h3>
  <h3 class="blue_h3">Seating at 5:00pm</h3>
  <h3 class="blue_h3">Ceremony begins at 5:30pm</h3>
  <h3 class="blue_h3">Cocktail hour & reception to follow the ceremony</h3>
  <br>
  <h3 class="blue_h3_thanks">
    Thank you for joining us on our big day!
  </h3>
</div>

<div class="between_sections">
  <hr class="dark_gray">
  <hr class="light_gray">
</div>

<div class="story">
  <img src="/wood.jpg" id="wood">
  <h2 class="story_h2">Our Story</h2>
  <img  src="/dc_map.jpg" id="dc_map">
  <p class="story_p">Tyler and Ciprianna met in late summer of 2010, while they were both attending a school trip in Washington, D.C. The two sat next to each other at a restaurant in Old Town, Alexandria. Ciprianna had never tried sushi before, so Tyler ordered a plate to share. They became friends from that point on, and kept in touch after the trip was over.  Tyler and Ciprianna started dating on September 24th, 2010 and the rest is history.</p>
</div>

<div id="proposal">
  <h2>The Big Question</h2>
  <p>After nearly five years of friendship and love, Ciprianna came home from work one day to find a vase full of beautiful flowers on the counter. Alongside the flowers was a letter from Tyler, telling her to go to the small lake outside of their apartment.  Ciprianna walked to the lake and saw him nervously waiting. As their song played, Tyler asked Ciprianna to spend the rest of their lives together!</p>
</div>

<div id="rsvp">
  <h2>Are you able to join us?</h2>
  <button>RSVP</button>
</div>

<div id="accomodations">
  <h2>Travel and Accommodations</h2>
  <p>
    A block of rooms is reserved for the Engel Wedding at the Embassy Suites in downtown Lincoln, price at $129. Shuttles will take people from the reception to the hotel on the hour from 9pm - 12am. We want all of our friends to make it home safely, so please take full advantage of the shuttle services or call an Uber.
  </p>
</div>

<div>
  <h2>Check out our registries:</h2>
  <p>
    <a href="http://www.target.com/">Target</a>
  </p>
  <p>
    <a href="http://www.worldmarket.com/">The World Market</a>
  </p>
  <p>
    Tyler and Ciprianna also will gladly accept donations to their honeymoon fund, or any of these wonderful organizations:
  </p>
  <ul>
    <li>
      <a href="https://semperfifund.org/">Semper Fi Fund</a>
    </li>
    <li>
      <a href="http://www.worldwildlife.org/">World Wildlife Fund</a>
    </li>
    <li>
      <a href="http://www.teamrubiconusa.org/">Team Rubicon</a>
    </li>
    <li>
      <a href="https://www.petsmartcharities.org/">PetSmart Charities</a>
    </li>
    <li>
      <a href="https://www.stjude.org/">St. Jude Children's Research Hospital</a>
    </li>
  </ul>
</div>
