<div class="fixed_header heading_text_background" id="header">
  <div class="menu_icon">
    <a href="#home" id="menu_link"></a>
  </div>
  <h1>Tyler ♡ Ciprianna</h1>
</div>

<div id="c-mask" class="c-mask"></div>

<div class="heading" id="#top">
  <img src="engage_tree.jpg" alt="Tyler and Ciprianna" title="Tyler and Ciprianna" id="tree">
</div>

<div class="blue" id="details">
  <h2 class="blue_h2">
    June 10th, 2016
  </h2>
  <h3 class="blue_h3"><a href="http://www.countrypineslincoln.com/" class="blue_link">Country Pines</a></h3>
  <h3 class="blue_h3">Seating at 4:30pm</h3>
  <h3 class="blue_h3">Ceremony begins at 5:00pm</h3>
  <h3 class="blue_h3">Cocktail hour & reception to follow the ceremony</h3>
  <button id="rsvp">RSVP</button>
  <br>
  <h3 class="blue_h3_thanks">
    Thank you for joining us on our big day!
  </h3>
</div>

<div id="rsvp_modal">
  <div id="rsvp_content">
    <h2 class="blue_h2 left rsvp_header">RSVP</h2>
    <span class="close">x</span>
    <form action="/rsvp" method="post">
      <div class="centered">
        <p>First Name</p>
        <input type="text" name="first_name">
      </div>
      <div class="centered">
        <p>Last Name</p>
        <input type="text" name="last_name">
      </div>
      <div class="centered">
        <p>Response to Invitation</p>
        <select>
          <option>Gladly Accept</option>
          <option>Regretfully Decline</option>
        </select>
      </div>
      <div class="centered">
        <p class="left">Number of Guests</p>
        <select class="right top_margin">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="gray_bar">
</div>

<div class="story" id="story">
  <img src="/wood.jpg" id="wood">
  <h2 class="story_h2">Our Story</h2>
  <img  src="/dc_map.jpg" id="dc_map">
  <p class="story_p1">Tyler and Ciprianna met in late summer of 2010, while they were both attending a school trip in Washington, D.C. The two sat next to each other at a restaurant in Old Town, Alexandria. Ciprianna had never tried sushi before, so Tyler ordered a plate to share.</p>
  <img src="omaha_map.jpg" id="omaha_map">
  <p class="story_p2">They became friends from that point on, and kept in touch after the trip was over.  Tyler and Ciprianna started dating on September 24th, 2010 and the rest is history.</p>
</div>

<div class="proposal" id="proposal">
  <div>
    <img src="ring.jpg" id="ring" alt="Engagment ring" placeholder="Engagement ring">
  </div>
  <div id="prop_text">
    <h2 class="proposal_h2">The Big Question</h2>
    <p class="proposal_p">After five years of friendship and love, Ciprianna came home from work one day to find a vase full of beautiful flowers on the counter. Alongside the flowers was a letter from Tyler, telling her to go to the small lake outside of their apartment.  Ciprianna walked to the lake and saw him waiting. As their song played, Tyler asked Ciprianna to spend the rest of their lives together!</p>
  </div>
</div>

<div class="accommodations" id="accommodations">
  <div class="gray_bar">
  </div>
  <h2 class="accommodations_h2">Travel and Accommodations</h2>
  <p class="accommodations_p">
    A block of rooms is reserved for the Engel Wedding at the Embassy Suites in downtown Lincoln, price at $129. Shuttles will take people from the reception to the hotel on the hour from 9pm - 12am. We want all of our friends to make it home safely, so please take full advantage of the shuttle services or call an Uber.
  </p>
</div>

<div class="between_sections">
  <hr class="dark_gray">
  <hr class="light_gray">
</div>

<div class="registry" id="registry">
  <h2 class="registry_h2">Check out our registries:</h2>
  <img src="arrow_gold.png" alt="arrow" id="arrow">
  <p id="target">
    <a href="http://www.target.com/"><img src="Target_logo.svg" alt="Target" title="Target" width=50px></a>
  </p>
  <p id="bed_bath">
    <a href="http://www.bedbathandbeyond.com/"><img src="bed-bath-beyond_logo.png" alt="Bed Bath and Beyond" title="Bed Bath and Beyond" width=70px></a>
  </p>
  <p>
    Tyler and Ciprianna also will gladly accept donations to their honeymoon fund, or any of these wonderful organizations:
  </p>
  <p id="semper">
    <a href="https://semperfifund.org/"><img src="Semper-Fi-Fund_logo.jpg" alt="Semper Fi Fund" title="Semper Fi Fund" width=80px></a>
  </p>
  <p id="wwf">
    <a href="http://www.worldwildlife.org/"><img src="WWF_logo.png" alt="World Wildlife Fund" title="World Wildlife Fund" width=80px></a>
  </p>
  <p id="rubicon">
    <a href="http://www.teamrubiconusa.org/"><img src="team_rubicon_logo.jpg" alt="Team Rubicon" title="Team Rubicon" width=80px></a>
  </p>
  <p id="petsmart">
    <a href="https://www.petsmartcharities.org/"><img src="PetSmart_Charities_logo.jpg" alt="PetSmart Charities" title="PetSmart Charities" width=120px></a>
  </p>
  <p id="stjude">
    <a href="https://www.stjude.org/"><img src="st_jude_logo.jpg" alt="St. Jude Children's Research Hospital" title="St. Jude Children's Research Hospital" width=120px></a>
  </p>
</div>

<div class="embrace">
  <img src="engage_embrace.jpg" id="embrace" alt="Tyler and Ciprianna" placeholder="Tyler and Ciprianna">
  <p class="bottom-p">
    Tyler and I thank you all for your support of us!
  </p>
  <p class="footnote">
    ~ Website made from scratch with ♡ by Ciprianna ~
  </p>
</div>
