<div heading>
  <h1>We're getting married!</h1>
</div>

<div welcome>
  <h2>
    June 10th, 2016
  </h2>
  <h3><a href="http://www.countrypineslincoln.com/">Country Pines</a>, 5:30pm</h3>
  <h3>
    Thank you for joining us on our big day!
  </h3>
</div>

<div ceremony>

</div>
