<div class="fixed_header heading_text_background" id="header">
  <div class="menu_icon">
    <a href="#home" id="menu_link"></a>
  </div>
  <h1>Tyler ♡ Ciprianna</h1>
</div>

<div id="c-mask" class="c-mask"></div>

<div class="full_header">
  <h3>Tyler and Ciprianna</h3>
</div>

<div class="heading" id="top">
  <img src="engage_tree.jpg" alt="Tyler and Ciprianna" title="Tyler and Ciprianna" id="tree">
</div>

<div id="full_nav" class="hidden_small">
  <nav>
    <a href="#top" class="full_navbar_links"><button>Home</button></a>
    <a href="#details" class="full_navbar_links"><button>Details</button></a>
    <a href="#story" class="full_navbar_links"><button>Our Story</button></a>
    <a href="#proposal" class="full_navbar_links"><button>The Big Question</button></a>
    <a href="#accommodations" class="full_navbar_links"><button>Accommodations</button></a>
    <a href="#registry" class="full_navbar_links"><button>Registries</button></a>
  </nav>
  <div style="clear: both">
  </div>
</div>

<div class="blue" id="details">
  <h2 class="blue_h2">
    June 10th, 2016
  </h2>
  <h3 class="blue_h3"><a href="http://www.countrypineslincoln.com/" class="blue_link">Country Pines</a></h3>
  <h3 class="blue_h3">Seating at 4:30pm</h3>
  <h3 class="blue_h3">Ceremony begins at 5:00pm</h3>
  <h3 class="blue_h3">Cocktail hour & reception to follow the ceremony</h3>
  <button id="rsvp">RSVP</button>
  <br>
  <h3 class="blue_h3_thanks">
    Thank you for joining us on our big day!
  </h3>
</div>

<div id="rsvp_modal">
  <div id="rsvp_content">
    <h2 class="blue_h2 left rsvp_header">RSVP</h2>
    <span class="close">x</span>
    <form action="/guests" method="post" id="form">
      <div class="centered">
        <p class="label">First Name</p>
        <input type="text" name="guest[first_name]">
        <p class="error_hint hide_element" id="first_name_error">Enter your first name</p>
      </div>
      <div class="centered">
        <p class="label">Last Name</p>
        <input type="text" name="guest[last_name]">
        <p class="error_hint hide_element" id="last_name_error">Enter your last name</p>
      </div>
      <div class="centered">
        <p class="label">Response to Invitation</p>
        <select name="guest[attending]">
          <option>Gladly Accept</option>
          <option>Regretfully Decline</option>
        </select>
        <p></p>
      </div>
      <div class="centered">
        <p class="label">Number of Guests</p>
        <select class="top_margin" name="guest[total_guests]">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <p></p>
      </div>
      <div class="centered" id="password">
        <p class="label">What's our song?</p>
        <input type="text" name="guest[password]" class="top_margin">
        <p class="error_hint hide_element" id="password_error">Hint - check your invite</p>
      </div>
      <div>
        <input type="submit" value="Submit" class="submit_button" id="submit_form"/>
      </div>
    </form>
  </div>
</div>

<div id="submission_thanks">
  <div id="submission_thanks_contents">
    <h2 class="blue_h2 left rsvp_header">Thank you for your response!</h2>
    <span class="close">x</span>
  </div>
</div>

<div class="gray_bar">
</div>

<div class="story" id="story">
  <img src="/wood.jpg" id="wood">
  <h2 class="story_h2">Our Story</h2>
  <div class="float_left">
    <img  src="/dc_map.jpg" id="dc_map">
    <p class="story_p1">Tyler and Ciprianna met in late summer of 2010, while they were both attending a school trip in Washington, D.C. The two sat next to each other at a restaurant in Old Town, Alexandria. Ciprianna had never tried sushi before, so Tyler ordered a plate to share.</p>
  </div>
  <div class="float_left">
    <img src="omaha_map.jpg" id="omaha_map">
    <p class="story_p2">They became friends from that point on, and kept in touch after the trip was over.  Tyler and Ciprianna started dating on September 24th, 2010 and the rest is history.</p>
  </div>
</div>

<div class="proposal" id="proposal">
  <div id="ring_container">
    <img src="ring.jpg" id="ring" alt="Engagment ring" placeholder="Engagement ring">
  </div>
  <div id="prop_text">
    <h2 class="proposal_h2">The Big Question</h2>
    <p class="proposal_p">After five years of friendship and love, Ciprianna came home from work one day to find a vase full of beautiful flowers on the counter. Alongside the flowers was a letter from Tyler, telling her to go to the small lake outside of their apartment.  Ciprianna walked to the lake and saw him waiting. As their song played, Tyler asked Ciprianna to spend the rest of their lives together!</p>
  </div>
</div>

<div class="accommodations" id="accommodations">
  <div class="gray_bar">
  </div>
  <h2 class="accommodations_h2">Travel and Accommodations</h2>
  <p class="accommodations_p">
    A block of rooms is reserved for the Engel Wedding at the Chase Inn and Suites at 66th and O in Lincoln. Room options are either a one-bed queen studio or a two-bed queen penthouse with couch. The studio runs $89/night and the penthouse $129. Room types can be seen <a href=http://www.chasehotellincoln.com/suites>here</a>. Rooms are available at these rates both Thursday and Friday night. Rooms must be booked prior to a month before the wedding. Chase hotel can be reached at (402) 483-4900. A shuttle will take people from the reception to the hotel. We want all of our friends and family to make it home safely, so please take advantage of the shuttle services.
  </p>
</div>

<div class="between_sections">
  <hr class="dark_gray">
  <hr class="light_gray">
</div>

<div class="registry" id="registry">
  <h2 class="registry_h2">Check out our registries:</h2>
  <img src="arrow_gold.png" alt="arrow" id="arrow">
  <p id="target">
    <a href="http://www.target.com/gift-registry/giftgiver?registryId=ngXhLAEnZRaiHWxxCFTa_g&registryType=WEDDING"><img src="Target_logo.svg" alt="Target" title="Target" width=50px></a>
  </p>
  <p id="bed_bath">
    <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543227450&pwsurl="><img src="bed-bath-beyond_logo.png" alt="Bed Bath and Beyond" title="Bed Bath and Beyond" width=70px></a>
  </p>
  <p class="registry_p">
    Tyler and Ciprianna also will gladly accept donations to their honeymoon fund, or any of these wonderful organizations:
  </p>
  <p id="semper">
    <a href="https://semperfifund.org/"><img src="Semper-Fi-Fund_logo.jpg" alt="Semper Fi Fund" title="Semper Fi Fund" width=80px></a>
  </p>
  <p id="wwf">
    <a href="http://www.worldwildlife.org/"><img src="WWF_logo.png" alt="World Wildlife Fund" title="World Wildlife Fund" width=80px></a>
  </p>
  <p id="rubicon">
    <a href="http://www.teamrubiconusa.org/"><img src="team_rubicon_logo.jpg" alt="Team Rubicon" title="Team Rubicon" width=80px></a>
  </p>
  <p id="petsmart">
    <a href="https://www.petsmartcharities.org/"><img src="PetSmart_Charities_logo.jpg" alt="PetSmart Charities" title="PetSmart Charities" width=120px></a>
  </p>
  <p id="stjude">
    <a href="https://www.stjude.org/"><img src="st_jude_logo.jpg" alt="St. Jude Children's Research Hospital" title="St. Jude Children's Research Hospital" width=120px></a>
  </p>
</div>

<div class="embrace">
  <img src="engage_embrace.jpg" id="embrace" alt="Tyler and Ciprianna" placeholder="Tyler and Ciprianna">
  <p class="bottom-p">
    We thank you all for your love and support!
  </p>
  <p class="footnote">
    ~ Website made from scratch with ♡ by Ciprianna ~
  </p>
</div>
