html {
  box-sizing: border-box;
  background-color: #E5E4D3;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
}

body.has-active-menu {
  overflow: hidden;
}

/* green: #259906
    background: #FEFFD6;
light blue: #F0F8FF
gainsboro: #DCDCDC
Primary color --- light blue: #008EA5
-- On color scheme:
--Secondary color -- deep ocean blue: #21393E
--light purple: #4D426D
--light green: #23CD9C
--tan: #E5E4D3
light bluish teal: #578497
lavender: #E6E6FA
light green: #90CC8A
brown: #824528 */

h1 {
  font-family: 'Lobster Two', cursive;
  position: absolute;
  margin-top: 3px;
  text-align: center;
  width: 100%;
  font-size: 25pt;
  z-index: 1;
  margin-left: 12px;
}

h2 {
  font-family: 'Lobster Two', cursive;
}

p {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 16pt;
}

ul {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 16pt;
}

nav button {
  width: 100%;
  background-color: #578497;
  font-size: 16pt;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  border-bottom: solid #260710;
  border-radius: 0;
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 0;
  height: 50px;
}

nav button:hover {
  background: #E5E4D3;
}

nav button:hover :first-child {
  background: #E5E4D3;
}

nav button:active {
  background: white
}

nav a {
  color: black;
  text-decoration: none;
}

button {
  font-family: 'Lobster Two', cursive;
  font-size: 18pt;
  background: #4D426D;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

select {
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #E5E4D3;
  font-size: 12pt;
  margin-top: 10px;
}

input {
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #E5E4D3;
  font-size: 12pt;
  border-radius: 5px;
}

.heading {
  position: relative;
  overflow: hidden;
}

.heading_text_background {
  position: absolute;
  width: 100%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  opacity: .5;
  z-index: 1;
}

.full_header {
  visibility: hidden;
  position: absolute;
  font-family: 'Lobster Two', cursive;
}

#full_nav {
  visibility: hidden;
  height: 0;
}

.between_sections {
  height: 2px;
}

.dark_gray {
  height: 1px;
  width: 100%;
  background-color: darkgray;
  margin: 0;
}

.light_gray {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 0;
}

.blue {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 45px;
}

.blue_h2 {
  margin: 0;
  margin-top: 45px;
  font-size: 28pt;
}

.blue_h3 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18pt;
  padding-left: 25px;
  padding-right: 25px;
}

.blue_h3_thanks {
  font-family: 'Lobster Two', cursive;
  font-size: 18pt;
  padding-left: 25px;
  padding-right: 25px;
}

.blue_link {
  text-decoration: none;
  color: #578497;
}

.gray_bar {
  background-color: darkgray;
  margin-left: 30px;
  margin-right: 30px;
  height: 2px;
}

.story {
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.story_h2  {
  color: antiquewhite;
  margin: 0;
  padding-top: 40px;
  font-size: 28pt;
  text-shadow: 2px 2px black;
  position: relative;
  top: 70px;
}

.story_p1 {
  margin-left: 25px;
  margin-right: 50px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}

.story_p2 {
  margin-left: 25px;
  margin-right: 50px;
  position: relative;
  margin-top: 40px;
}

.dashed_lines {
  width: 100%;
  margin-top: 50px;
  background-image: url("/dashed_lines.png");
  height: 5px;
}

.proposal {
  background-color: #578497;
  position: relative;
  padding-bottom: 60px;
  height: 1220px;
  overflow: hidden;
}

.proposal_h2 {
  margin-top: 700px;
  margin-bottom: 0;
  text-align: center;
  font-size: 28pt;
}

.proposal_p {
  position: absolute;
  margin-left: 30px;
  font-size: 16pt;
  margin-right: 30px;
  text-align: center;
}

.accommodations {
  background-color: #578497;
  height: 900px;
}

.accommodations_h2 {
  margin-top: 30px;
  text-align: center;
  padding-top: 20px;
  font-size: 24pt;
}

.accommodations_p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.accommodations a {
  text-decoration: none;
  color: mintcream;
}

.registry {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: white;
}

.registry_h2 {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 0;
}

.bottom-p {
  color: white;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: -50%;
  right: -50%;
  width: 300px;
  bottom: 180px;
  background: rgba(1,1,1,0.5);
}

.embrace {
  position: relative;
}

.footnote {
  margin: 0;
  font-size: 12pt;
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  padding-bottom: 7px;
}

.menu_icon {
  background: linear-gradient( to bottom, #4A0112, #4A0112 20%, transparent 20%, transparent 40%, #4A0112 40%, #4A0112 60%, transparent 60%, transparent 80%, #4A0112 80%, #4A0112 100% );
  height: 25px;
  float: left;
  width: 30px;
  margin: 8px;
  position: absolute;
  z-index: 3;
  margin-top: 20px;
}

.hide_home {
  visibility: visible;
  height: auto;
  z-index: 2;
  position: fixed;
  transition: transform 0.3s;
  overflow-y: scroll;
  transform: translateX(-100%);
}

.show_home {
  visibility: visible;
  height: auto;
  z-index: 2;
  position: fixed;
  transition: transform 0.3s;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar_links {
  width: 100%;
  background-color: #578497;
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0;
  padding: 0;
}

.close_menu {
  box-shadow: none;
  border: none;
  height: 30px;
}

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
  z-index: 2
}

.hide_element {
  visibility: hidden;
  height: 0;
}

.show_element {
  visibility: visible;
}

.fixed_header {
  position: fixed;
  z-index: 3;
}

.left {
  float: left;
}

.right {
  float: left;
  margin-left: 20px;
}

.top_margin {
  margin-top: 23px;
}

.right_margin {
  margin-right: 40px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.rsvp_header {
  width: 90%;
  margin-top: 0;
  text-align: center;
}

.submit_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: inherit;
  font-family: 'Lobster Two', cursive;
  font-size: 18pt;
  background: #4D426D;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.errors {
  border: solid darkred 2px;
}

.error_hint {
  font-size: 12pt;
  font-style: italic;
  color: darkred;
  margin-top: 3px;
}

#rsvp_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#rsvp_content {
    background-color: #578497;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid rgba(1,1,1,.5);
    width: 80%;
    height: auto;
}

#rsvp_content p {
  margin-bottom: 0;
}

#submission_thanks {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#submission_thanks_contents {
  background-color: #578497;
  margin: 40% auto;
  padding: 20px;
  border: 5px solid rgba(1,1,1,.5);
  width: 80%;
  height: 150px;
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Shadows Into Light Two', cursive;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#home {
  z-index: 3;
}

#menu_link {
  height: 25px;
  width: 30px;
  position: absolute;
}

#tree {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: block;
  right: -50%;
  left: -50%;
  vertical-align: middle;
}

#form {
  border-radius: 0px;
}

#form p {
  text-align: center;
  font-size: 1.5rem;
}

#form .label {
  margin-top: 10px;
}

#form .centered {
  width: 100%;
}

#form input {
  display: block;
  margin: auto;
  width: 13rem;
  height: 40px;
  font-size: 1.5rem;
}

#form select {
  display: block;
  margin: auto;
  width: 13rem;
  height: 40px;
}

#form .submit_button {
  margin-top: 20px;
}

#wood {
  width: 250px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  left: -50%;
  right: -50%;
  box-shadow: 5px 5px 15px 5px black;
}

#dc_map {
  width: 220px;
  height: 180px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 10px solid darkslategray;
}

#omaha_map {
  width: 220px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid darkslategray;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#ring {
  width: 1000px;
  left: -60%;
  right: -40%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#compass {
  width: 300px;
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 90px;
  margin-left: -150px;
  margin-right: -150px;
  border: 1px solid #999;
  background-color: #fcfcfc;
  padding: 5px;
  box-shadow: 10px 10px 20px black;
}

#arrow {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: -50%;
  right: -50%;
}

#target {
  display: block;
  float: left;
  width: 50%;
  margin-top: 30px;
}

#bed_bath {
  display: block;
  float: left;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#semper {
  display: block;
  width: 33%;
  float: left;
}

#wwf {
  display: block;
  float: left;
  width: 33%;
}

#rubicon {
  display: block;
  float: left;
  width: 33%;
}

#petsmart {
  display: block;
  float: left;
  width: 50%;
}

#stjude {
  display: block;
  float: left;
  width: 50%;
}

#embrace {
  width: 100%;
}

#left_arrow {
  width: 30px;
  float: right;
}

#home nav button {
  display: block;
  text-align: center;
}

@media all and (min-width: 400px) {
  h1 {
    font-size: 28pt;
  }
  #tree {
    margin-bottom: -50px;
    margin-top: -50px;
  }
  #ring {
    left: -50%;
    right: -50%;
  }
  .rsvp_header {
    width: 95%;
  }
  #form input, #form select {
    width: 15rem;
  }
  .accommodations {
    height: 700px;
  }
  .embrace {
    height: 625px;
    position: relative;
    background-image: url('/engage_embrace.jpg');
    background-size: cover;
    overflow: hidden;
  }
  .embrace:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
  }
  #embrace {
    height: 800px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    left: -50%;
    right: -50%;
    position: absolute;
  }
}

@media all and (min-width: 600px) {
  #tree {
    margin-bottom: -100px;
    margin-top: -100px;
  }
  .proposal {
    height: 1050px;
  }
  .accommodations {
    height: 550px;
  }
}

@media all and (min-width: 768px) {
  #tree {
    margin-bottom: -150px;
    margin-top: -250px;
  }
  .blue_h3 {
    font-size: 20pt;
  }
  .blue_h3_thanks {
    font-size: 20pt;
  }
  .story_p1, .story_p2 {
    font-size: 22pt !important;
  }
  #ring {
    width: 100%;
    margin-top: -50px;
    margin-bottom: -75px;
    position: inherit;
  }
  #ring_container {
    height: 550px;
    overflow: hidden;
  }
  .proposal {
    height: 1000px;
  }
  .proposal_h2 {
    margin-top: 5px;
    font-size: 32pt;
  }
  .proposal_p {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 22pt;
  }
  .accommodations {
    height: 750px;
  }
  .accommodations_p {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 22pt !important;
  }
  .accommodations_h2 {
    font-size: 32pt !important;
  }
  .registry_p {
    font-size: 22pt !important;
    text-align: center;
    float: left;
    width: 100%;
  }
  .bottom-p {
    font-size: 22pt !important;
  }
}

@media all and (min-width: 900px) {
  .rsvp_header {
    font-size: 3.5rem;
  }
  #form p {
    font-size: 2.5rem;
  }
  #form input, #form select {
    width: 40rem;
    font-size: 2.5rem;
    height: 60px;
  }
  #form .submit_button {
    width: 200px;
    height: auto;
    font-size: 3rem;
  }
  #form #password {
    margin-bottom: 20px;
  }
  .proposal_h2 {
    margin-top: 30px;
  }
  #target img {
    width: 75px;
  }
  #bed_bath {
    margin-top: 60px;
  }
  #bed_bath img {
    width: 100px;
  }
}

@media all and (min-width: 1020px) {
  #header {
    display: none;
  }
  #heading {
    height: 900px;
  }
  .full_header {
    visibility: visible;
    color: antiquewhite;
    z-index: 2;
    font-size: 44pt;
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: -50%;
    right: -50%;
  }
  .stick_nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  #full_nav {
    visibility: visible;
    width: 100%;
  }
  .blue {
    margin-top: 80px;
  }
  .full_navbar_links {
    float: left;
    width: 16.66%;
    height: 65px;
  }
  nav button:hover {
    background-color: #4D426D;
  }
  .stick_nav nav button {
    box-shadow: 0px 3px rgba(1,1,1,0.2);
  }
  #tree {
    margin-bottom: -200px;
    margin-top: -550px;
  }
  #rsvp_content {
    width: 70%;
  }
  #form .centered {
    float:left;
    width: 50%;
  }
  #form p {
    font-size: 1.5rem;
  }
  #form input, #form select {
    width: 20rem;
    height: 50px;
    font-size: 1.5rem;
  }
  #form #password {
    width: 100%;
  }
  #form .submit_button {
    font-size: 2rem;
  }
  .embrace {
    height: 725px;
  }
  #embrace {
    height: 1000px;
  }
  .float_left {
    float: left;
    width: 50%;
  }
  #omaha_map {
    margin-top: 200px;
  }
  .story_p1, .story_p2 {
    margin-left: 50px;
    margin-right: 50px;
  }
  #ring {
    margin-top: 0;
    margin-bottom: -75px;
  }
  #ring_container {
    height: 650px;
  }
  .proposal {
    height: 1100px;
  }
  .accommodations {
    height: 650px;
  }
  #semper {
    width: 20%;
  }
  #wwf {
    width: 20%;
    margin-top: 0;
  }
  #rubicon {
    width: 20%;
  }
  #petsmart {
    width: 20%;
  }
  #stjude {
    width: 20%;
  }
}

@media all and (min-width: 1248px) {
  #header {
    height: 900px;
  }
  #tree {
    margin-bottom: -450px;
    margin-top: -825px;
  }
  .embrace {
    height: 925px;
  }
  #embrace {
    height: 1100px;
  }
  .story_p1, .story_p2 {
    margin-left: 75px;
    margin-right: 75px;
  }
  #ring {
    margin-top: -70px;
    margin-bottom: -125px;
  }
  #ring_container {
    height: 650px;
  }
  .proposal_p {
    margin-left: 150px;
    margin-right: 150px;
  }
  .accommodations_p {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media all and (min-width: 1650px) {
  #tree {
    margin-bottom: -750px;
    margin-top: -1025px;
  }
}
