html {
  box-sizing: border-box;
    background: #FEFFD6;
    width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
}

/* green: #259906

light blue: #F0F8FF
gainsboro: #DCDCDC
lavender: #E6E6FA
light green: #90CC8A
brown: #824528 */

h1 {
  font-family: 'Lobster Two', cursive;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 32pt;
  z-index: 1;
}

h2 {
  font-family: 'Lobster Two', cursive;
}

p {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 16pt;
}

.heading {
  height: 533px;
}

.blue {
  background-color: #578497;
  width: 100%;
  color: #E6E6FA;
  text-align: center;
  position: relative;
  margin-top: -4px;
}

.blue_h2 {
  margin: 0;
}

.blue_h3 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18pt;
}

.blue_link {
  text-decoration: none;
}

#passageway {
  width: 800px;
  position: absolute;
  display: block;
  margin-left: -400px;
  margin-right: -400px;
  left: 50%;
  right: 50%;
}
