<!DOCTYPE html>
<html>
<head>
  <title>Engel Wedding</title>
  <link href='/global.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Lobster+Two' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="global.js" defer></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <div class="menu_icon">
    <a href="#home" id="menu_link"></a>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
