<!DOCTYPE html>
<html>
<head>
  <title>Engel Wedding</title>
  <link href='/global.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Lobster+Two' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="global.js" defer></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <div id="home" class="hide_home">
    <nav>
      <button class="close_menu"><a class="navbar_links"><img src="/left_arrow.png" id="left_arrow"></a></button>
      <button><a href="#top" class="navbar_links">Home</a></button>
      <button><a href="#details" class="navbar_links">Details</a></button>
      <button><a href="#story" class="navbar_links">Our Story</a></button>
      <button><a href="#proposal" class="navbar_links">The Big Question</a></button>
      <button><a href="#accommodations" class="navbar_links">Accommodations</a></button>
      <button><a href="#registry" class="navbar_links">Registries</a></button>
    </nav>
    <div style="clear: both">
    </div>
  </div>

</head>
<body>

<%= yield %>

</body>
</html>
