<!DOCTYPE html>
<html>
<head>
  <title>Engel Wedding</title>
  <link href='/global.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Lobster+Two' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="global.js" defer></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" type="image/png" href="/heart-icon.png" width="16" />

  <div id="home" class="hide_home">
    <nav>
      <a class="navbar_links"><button class="close_menu"><img src="/left_arrow.png" id="left_arrow"></button></a>
      <a href="#top" class="navbar_links"><button>Home</button></a>
      <a href="#details" class="navbar_links"><button>Details</button></a>
      <a href="#story" class="navbar_links"><button>Our Story</button></a>
      <a href="#proposal" class="navbar_links"><button>The Big Question</button></a>
      <a href="#accommodations" class="navbar_links"><button>Accommodations</button></a>
      <a href="#registry" class="navbar_links"><button>Registries</button></a>
    </nav>
    <div style="clear: both">
    </div>
  </div>

</head>
<body>

<%= yield %>

</body>
</html>
